version: '3.8'

services:
  data:
    image: mariadb
    environment:
      - MARIADB_RANDOM_ROOT_PASSWORD=yes
    volumes:
      # Script de création de la base
      - C:/Users/yanis/docker-tp3/etape2/create.sql:/docker-entrypoint-initdb.d/create.sql
    networks:
      - tp3-network

  script:
    build:
      # Utilise etape2 pour le Dockerfile PHP custom
      context: C:/Users/yanis/docker-tp3/etape2
      dockerfile: Dockerfile
    volumes:
      # Monte le dossier avec tes fichiers PHP
      - C:/Users/yanis/docker-tp3/etape2/monsite:/app
    networks:
      - tp3-network

  http:
    image: nginx:latest
    ports:
      - "8082:80"
    volumes:
      # Monte le fichier de configuration NGINX de l’étape 1
      - C:/Users/yanis/docker-tp3/etape1/config/default.conf:/etc/nginx/conf.d/default.conf
      # Monte aussi le dossier PHP pour que NGINX y accède
      - C:/Users/yanis/docker-tp3/etape2/monsite:/app
    networks:
      - tp3-network

networks:
  tp3-network:
